// <ОСНОВНОЙ БЛОК>

.main {
  // padding-bottom:  30px;
  grid-area: main;

  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1240px) minmax(15px, 1fr);


  &__wrapper {
    grid-area: 1/2;
    height: 1000px;
  }

  @media (max-width: 867px) {}
}