// <ОСНОВНОЙ БЛОК>

.main {
  grid-area: main;
  
  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1340px) minmax(15px, 1fr);


  &__wrapper {
    padding-top:  100px;
    grid-area: 1/2;
  }

  &__row {
    @include f(space-between, center, row);
    flex-wrap: wrap;
    padding-bottom:  25px;

  }

  @media (max-width: 867px) {}
}