.m-font-little {
  font-size: 1.2em;
}

.m-font-medium {
  font-size: 1.7em;
  font-weight: 600;
}


.m-box {
  background-color: #19171b;
  border-radius: 8px;
  // height: 46vh;
}

.m-trend {
  background-color: #19171b;
  border-radius: 8px;
  // height: 50vh;
}

.m-fl-center {
  align-items: center;
  justify-content: center;
}



.m-row {
  @include f(space-between, center, row);
  flex-wrap: wrap;
  padding-bottom: 25px;

}