.m-font-little {
  font-size: 1.2em;
}

.m-font-medium {
  font-size: 1.7em;
  font-weight: 600;
}


.m-box {
  background-color: #19171b;
  border-radius: 8px;
  // height: 46vh;
}

.m-trend {
  background-color: #19171b;
  border-radius: 8px;
  // height: 50vh;
}

.m-fl-center {
  align-items: center;
  justify-content: center;
}



.m-row {
  @include f(space-between, center, row);
  flex-wrap: wrap;
}

.m-column {
  @include f(space-between, center, column);
  gap: 20px;
}

.m-fb20{
  flex-basis: 20%;
}

.m-fb78{
  flex-basis: 78%;

}

.m-stretch{
  align-self: stretch;
}

.m-h100{
  height: 100%;
}