$bg-dark: #1f1d22;
$title-dark: #1f1d22;
$desc-dark: #1f1d22;

$bg-light: #fff;
$title-light: #fff;
$desc-light: #fff;


$title-grey: #EBECF0;
$desc-grey: #4c4653;


$bg-box-dark-tr: #020202b9;
$bg-box-dark: #19171b;
