.title {
  // @include f(center, center, column);
  // text-align: center;

  &__headline {

    font-size: 35px;
    font-weight: 600;
  }

  &__desc {
    width: 80%;
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
  }
}